*{
    margin:0
    padding:0
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: pink;
    color: white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
